In [1]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

## Handling NaN values and picking columns

In [4]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df['Age'] = df['Age'].fillna(df['Age'].mean())
df = df.drop(['Cabin', 'PassengerId', 'Name', 'Ticket'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

## Discretizing dataset

In [5]:
df = df.replace({'Sex': {'male': 0, 'female': 1}})
df = df.join(pd.get_dummies(df['Embarked'], prefix='Embarked'))
df = df.drop('Embarked', axis=1)
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,0,35.0,0,0,8.0500,0,0,1

## Initial benchmark

In [6]:
X, y = df.drop('Survived', axis=1), df['Survived']

In [7]:
from sklearn.model_selection import cross_val_score
def print_score(clf, X, y):
    scores = cross_val_score(clf, X, y, cv=5, scoring='accuracy')
    print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

In [8]:
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression

print("Linear SVM")
print_score(SVC(kernel="linear", C=0.025), X, y)
print("KNeighbors")
print_score(KNeighborsClassifier(), X, y)
print("DecisionTree")
print_score(DecisionTreeClassifier(max_depth=5), X, y)
print("Random Forest")
print_score(RandomForestClassifier(max_depth=5), X, y)
print("Ada Boost")
print_score(AdaBoostClassifier(), X, y)
print("Gradient Boosting")
print_score(GradientBoostingClassifier(), X, y)
print("Logistic Regression")
print_score(LogisticRegression(), X, y)
print("Neural Network")
print_score(MLPClassifier(), X, y)

Linear SVM
Accuracy: 0.79 (+/- 0.04)
KNeighbors
Accuracy: 0.69 (+/- 0.07)
DecisionTree
Accuracy: 0.81 (+/- 0.05)
Random Forest
Accuracy: 0.81 (+/- 0.03)
Ada Boost
Accuracy: 0.80 (+/- 0.05)
Gradient Boosting
Accuracy: 0.82 (+/- 0.03)
Logistic Regression
Accuracy: 0.79 (+/- 0.04)
Neural Network
Accuracy: 0.73 (+/- 0.18)